button {
    background-color: #52B3CB;
    border: none;
    border-radius: 25px;
    /* padding: 8px 12px; */
    cursor: pointer;

    color: #ffffff;
    width: 138px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    min-width: fit-content;
    padding: 0 15px;
}

button span{
    font-size: 16px;
}

button.details-button svg{
    margin-left: 15px;
}

button:hover {
    background-color: #63C069;
}