.details-button,
.favorites-button,
.add-review-button {
    background-color: #52B3CB;
    border: none;
    border-radius: 25px;
    /* padding: 8px 12px; */
    cursor: pointer;

    color: #ffffff;
    width: 138px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.details-button span,
.favorites-button span{
    font-size: 16px;
}

.details-button svg{
    margin-left: 15px;
}

.details-button:hover,
.favorites-button:hover,
.add-review-button:hover {
background-color: #63C069;
}