.catalog-page{
    padding: 2rem;
}

.catalog-page-content{
    display: flex;
    gap: 20px 
}
.catalog-page-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}