.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #ddd;
  position: relative;
  z-index: 1000;
  font-size: 16px;
  box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.2);
    background-color: #FFFCF6;
  position: sticky;
  top: 0;
  z-index: 10; 
  min-height: 84px;
}

.header.scrolled {
  min-height: 50px;
  /* height: 15px; */
}

.header .logo{
  width: 80px;
}
.header img{
  height: 80px;
  transition: all 0.3s ease;
}
.header.scrolled .logo img{
  height: 45px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navList {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

a.navLink {
  text-decoration: none;
  color: #323232;
  transition: color 0.3s ease;
  padding: 0 5px 2px;
}

a.navLink.active {
  color: #52B3CB;
  border-bottom: 1px solid #52B3CB;
}

a.navLink:hover {
  color: #52B3CB;
}
